**/.DS_Store
local
*.asv
*.mexmaci64
*.mexmaci64
external/oidn*
docker/build/pbrt-v4
docker/build/libs
docker/build/NVIDIA-OptiX-SDK-7.2.0-linux64-x86_64
data/V4/web
data/V4/teapot-set/TeaTime-converted.pbrt
calc/datafiles/oi_001.mat
calc/datafiles/oi_002.mat
calc/datafiles/oi_fog.mat
*.wiki
data/.DS_Store
.DS_Store
*/.DS_Store
data/.DS_Store
data/scenes/testplane/dgauss.22deg.3.0mm+microlens.json
